body {
  background-color: green;
}

h1 {
  text-align: center;
  text-weight: bold;
}

#text {
  text-align: center;
  text-weight: bold;
}

#image {
  text-align: center;
  height: 200px;
  width: 200px;
}
