body {
  background-color: green;
}

h1 {
  text-align: center;
  text-weight: bold:
}

h2 {
  text-align: center;
  text-weight: bold;
}

img {
  block-align: center;
  height: 100px;
  width: 100px;
}
