body {
  background-color: green;
}

h1 {
  text-align: center;
  text-weight: bold;
}

#text {
  text-align: center;
  text-weight: bold;
}

#image {
  align-content: center;
  height: 500px;
  width: 500px;
}
